@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 1024px) { div{ font-size: 21px; }}
@media only screen and (max-width: 768px) { div{ font-size: 20px; }}
@media only screen and (max-width: 640px) { div{ font-size: 19px; }}
@media only screen and (max-width: 600px) { div{ font-size: 18px; }}
@media only screen and (max-width: 560px) { div{ font-size: 17px; }}
@media only screen and (max-width: 500px) { div{ font-size: 16px; }}
@media only screen and (max-width: 460px) { div{ font-size: 15px; }}
@media only screen and (max-width: 400px) { div{ font-size: 14px; }}
@media only screen and (max-width: 360px) { div{ font-size: 12px; }}
@media only screen and (max-width: 320px) { div{ font-size: 11px; }}

/*整体布局样式初始化*/


html, body {color:#333; background:#fff;
	font-family:Microsoft,YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	text-decoration: none;		
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0px;
	padding:0px;
}
img{border:none; display:block;}
li{list-style: none;}
a{color:#000000;text-decoration: none;}
.fl{float:left;}
.fr{float:right;}

a{text-decoration:none; outline:none;blr:expression(this.onfocus=this.blur());}
a:active{background-color:transparent}
a:active,a:hover{outline:0 none}
a:focus{outline:1px dotted}



select{appearance:none;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari 和 Chrome */}

/*index*/
.top{ width:100%; /*padding:0 3%;*/ background:#26a035; height:50px; border-bottom:#bbb 1px solid; overflow:hidden;}
.top img{ float:left; height:50px;}
.se01{ padding-left:2%; width:19%; border-radius:11px;height:22px; border:#129822 1px solid; overflow:hidden; background:#fff url(/web/web_images/se-arrow.png) no-repeat right center;
background-size:contain; margin-top:13px; }
.se01 select{margin:0px;
	padding:0px;
	border:none;
	width:100%; background:none;outline:none; height:24px; font-size:1.2em; color:#26a035; }
.sear01{ width:12%; margin-top:7px;}
.sear01 img{ width:37px; height:36px;}

.banner{width:100%; overflow:hidden;}
.banner img{ width:100%;}


.index_li{ width:94%; padding:0 3%; overflow:hidden; }
.index_li li{ float:left;}
.index_li li img{ width:100%;}

.gzfb{ background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; padding-bottom:7px;}
.gzfb_tlt{ width:100%; background:#fff; overflow:hidden; height:44px; border-bottom:#ddd 1px solid; border-top:#ddd 1px solid; margin-bottom:8px;}
.gzfb_tlt img{ height:44px;}
.gzfb_tlt .arrow{border-right:#ddd 1px solid;}

.gzfb_con{ background:#fff; overflow:hidden;}
.gzfb_con li{width:42%; padding:1%;background:#26a035;float:left;margin:3%;}
.gzfb_li{ background:url(/web/web_images/gzfb_pic.png) no-repeat center; background-size:100%; padding-left:7%; font-family:"微软雅黑"; font-size:1em; line-height:1.4em;}
.gzfb_li p{ padding-top:10px;}
.gzfb_li .gzfb_ck{ overflow:hidden; line-height:1.5em; height:1.5em; padding-bottom:5px;}
.gzfb_li .gzfb_ck span{ width:30%;float:right; height:1.5em;line-height:1.5em;background:url(/web/web_images/gufb_ck.png) no-repeat left; padding-left:15%; background-size:contain;}
.gzfb_li .gzfb_ck span a{ font-size:1.2em; color:#333;}


.aytj{ background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; padding-bottom:7px;}
.aytj_tlt{ width:100%; background:#fff; overflow:hidden; height:44px; border-bottom:#ddd 1px solid; border-top:#ddd 1px solid; margin-bottom:8px;}
.aytj_tlt img{ height:44px;}
.aytj_tlt .arrow{border-right:#ddd 1px solid;}

.aytj_con{ background:#fff; overflow:hidden; font-family:"微软雅黑";}
.aytj_con dl{ width:96%; padding:0 2%;}
.aytj_con dd{ overflow:hidden; padding:13px 0; border-bottom:#e5e5e5 1px solid;}

.ab_pic{ width:24%;}
.ab_pic img{width:100%;}

.aytj_ab{ width:72%; padding-left:4%;}
.ab_1{ overflow:hidden; height:20px;}
.ab_1 p,.ab_1 h1,.ab_1 ul{ float:left;}
.ab_1 ul li{ float:right;}

.ab_1 p{ width:21%; line-height:20px; font-weight:bold; color:#26a035; font-size:14px;} 
.ab_1 h1{ width:20%; height:20px;}
.ab_1 h1 img{ width:10px; height:20px;}
.ab_1 ul{ width:59%; line-height:20px; font-size:14px;}
.ab_1 ul li{ margin-left:5px;}

.ab_2{ font-size:1.1em; margin-bottom:1em;}

.ab_3{ overflow:hidden;}
.ab_3 p{ float:left; width:25%; background:url(/web/web_images/aytj_collect.png) no-repeat center left; padding-left:10%; background-size:contain;}
.ab_3 h3{ float:right; color:#666;}
.ab_3 h3 span{ color:#ff7800;}


.mtbd{ background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; padding-bottom:7px;}
.mtbd_tlt{ width:100%; background:#fff; overflow:hidden; height:44px; border-bottom:#ddd 1px solid; border-top:#ddd 1px solid; margin-bottom:8px;}
.mtbd_tlt img{ height:44px;}
.mtbd_tlt .arrow{border-right:#ddd 1px solid;}

.mtbd_con{ background:#fff; overflow:hidden; font-family:"微软雅黑";}
.mtbd_con ul{ width:96%; padding:0 2%; padding-bottom:5px;}
.mtbd_con li{ overflow:hidden; border-bottom:#e5e5e5 1px solid;}

.mtbd_pic{ width:23%; padding:15px;}
.mtbd_pic img{ width:100%;}
.mtbd_text{ width:65%;}
.mtbd_text p{ overflow:hidden; line-height:2.5em; font-size:1.2em;}
.mtbd_text span{color:#666;}
.mtbd_text p span{ float:right; font-size:1.2em; color:#333;}


.bottom_box{background:#f3f3f3; width:94%; padding:0 3%; font-family:"微软雅黑";}
.bottom{ background:#fff; padding-bottom:70px;}
.bottom h1{ color:#26a035; text-align:center; line-height:2.5em;}
.bottom li{ float:left;}
.bottom li img{ width:100%;}
.bottom p{color:#26a035; text-align:center; line-height:2em;}

.fixed{ width:100%; /*position:fixed;*/ bottom:0; background:#26a035; overflow:hidden;  font-family:"微软雅黑"; z-index:9; padding:10px 0;}
.fixed  li{ width:25%; float:left; text-align:center;}
.fixed li img{ display:block; margin:0 auto;}
.fixed li p{ color:#fff; margin-top:5px;}

/*member*/
.mem_top{ width:100%; position:relative;}
.mem_pic_box{ width:100%;position:absolute; top:50%; margin-top:-50px;}
.mem_pic_box .mem_pic{ width:100px;height:100px; margin:auto;overflow:hidden; border-radius:50px; }
.mem_pic img{ width:100%; height:100%;margin:auto;}
.mem_pos{ position:absolute; top:20px; right:20px;}

.mem_id{ width:100%;position:absolute; bottom:0; background:#26a035; line-height:2.5em; text-align:center; font-size:1.5em; color:#fff;font-family:"微软雅黑";}

.mem_con{ border-top:#f3f3f3 6px solid;font-family:"微软雅黑"; min-height:500px;}
.mem_single_box{ padding:8px 0 8px 5%; border-bottom:#f3f3f3 1px solid;}
.mem_single{ padding-left:14%; background:url(/web/web_images/mem04.png) no-repeat left; background-size:contain; line-height:1.5em; font-weight:bold; font-size:1.2em;}

.mem_coll_box{ padding:8px 0 8px 5%; border-bottom:#f3f3f3 1px solid;}
.mem_coll{ padding-left:14%; background:url(/web/web_images/mem05.png) no-repeat left; background-size:contain; line-height:1.5em; font-weight:bold; font-size:1.2em; overflow:hidden; padding-right:5%;}
.mem_coll span{ color:#666; font-size:1em; float:right;}

.mem_order_box{ padding:8px 0 8px 5%; border-bottom:#f3f3f3 1px solid;}
.mem_order{ padding-left:14%; background:url(/web/web_images/mem06.png) no-repeat left; background-size:contain; line-height:1.5em; font-weight:bold; font-size:1.2em; overflow:hidden; padding-right:5%;}
.mem_order span{ color:#666; font-size:1em; float:right;}

.mem_req_box{ padding:8px 0 8px 5%; border-bottom:#f3f3f3 1px solid;}
.mem_req{ padding-left:14%; background:url(/web/web_images/mem07.png) no-repeat left; background-size:contain; line-height:1.5em; font-weight:bold; font-size:1.2em; overflow:hidden; padding-right:5%;}
.mem_req span{ color:#666; font-size:1em; float:right;}

/*list*/
.list_top{ width:101%; /*padding:0 3%;*/ background:#26a035; height:50px; border-bottom:#bbb 1px solid; overflow:hidden;}
.list_top p{ margin-left:10px; line-height:50px; font-size:18px;font-family:"微软雅黑"; color:#fff; font-weight:bold;}
.sear01{ width:12%; margin-top:7px;}
.sear01 img{ width:37px; height:36px;}


.list{ background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; padding-bottom:7px;}
.list_sx{background:#fff; overflow:hidden; width:96%; padding:5px 2%; border-top:#c9c9c9 2px solid; border-bottom:#f3f3f3 2px solid;}


.sx01{ width:20%; padding-left:1%;height:25px;overflow:hidden; background:#fff url(/web/web_images/list_arrow.png) no-repeat right center;
background-size:contain; }
.sx01 select{margin:0px;
	padding:0px;
	border:none;
	width:100%; background:none;outline:none; height:24px; font-size:1em; color:#26a035; font-family:"微软雅黑";}
	
.sx02{ width:15%; padding-left:1%;height:25px;overflow:hidden; background:#fff url(/web/web_images/list_arrow.png) no-repeat right center;
background-size:contain;}
.sx02 select{margin:0px;
	padding:0px;
	border:none;
	width:100%; background:none;outline:none; height:24px; font-size:1em; color:#26a035; font-family:"微软雅黑";}

.sx03{ width:15%; padding-left:1%;height:25px;overflow:hidden; background:#fff url(/web/web_images/list_arrow.png) no-repeat right center;
background-size:contain; }
.sx03 select{margin:0px;
	padding:0px;
	border:none;
	width:100%;background:none;outline:none; height:24px; font-size:1em; color:#26a035; font-family:"微软雅黑";}

.sx04{ width:15%; padding-left:1%;height:25px;overflow:hidden; background:#fff url(/web/web_images/list_arrow.png) no-repeat right center;
background-size:contain;}
.sx04 select{margin:0px;
	padding:0px;
	border:none;
	width:100%; background:none;outline:none; height:24px; font-size:1em; color:#26a035; font-family:"微软雅黑";}

.sx05{ width:15%; padding-left:1%;height:25px;overflow:hidden; background:#fff url(/web/web_images/list_arrow.png) no-repeat right center;
background-size:contain; }
.sx05 select{margin:0px;
	padding:0px;
	border:none;
	width:100%; background:none;outline:none; height:24px; font-size:1em; color:#26a035; font-family:"微软雅黑";}

.sx06{ width:15%; padding-left:1%;height:25px;overflow:hidden; background:#fff url(/web/web_images/list_arrow.png) no-repeat right center;
background-size:contain;}
.sx06 select{margin:0px;
	padding:0px;
	border:none;
	width:100%; background:none;outline:none; height:24px; font-size:1em; color:#26a035; font-family:"微软雅黑";}


.list_con{ background:#fff; overflow:hidden; font-family:"微软雅黑"; padding-bottom:70px;}
.list_con dl{ width:96%; padding:0 2%;}
.list_con dd{ overflow:hidden; padding:1.5em 0; border-bottom:#e5e5e5 1px solid;}


/*guzhu*/
.guzhu_top{ width:94%; padding:0 3%; background:#26a035; height:50px; border-bottom:#bbb 1px solid; overflow:hidden;}
.guzhu_top p{ line-height:50px; font-size:18px;font-family:"微软雅黑"; color:#fff; font-weight:bold;}
.sear01{ width:12%; margin-top:7px;}
.sear01 img{ width:37px; height:36px;}

.guzhu_con_box{ background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; }
.guzhu_con{ background:#fff;overflow:hidden; font-family:"微软雅黑"; padding-bottom:70px;}
.guzhu_con ul{ width:96%; padding:0 2%;}

.guzhu_con li{ line-height:1.8em; border-bottom:#f3f3f3 1px solid; margin-top:1.2em; padding-bottom:1em;}
.gz01{ overflow:hidden;font-size:1.3em;}
.gz01 span{ width:50%; float:right;}
.gz01 span a{ color:#ff6600;}

.gz02,.gz03{font-size:1.3em;}

.gz03 span{ color:#ff6600;}

.gz04{ overflow:hidden;}
.gz04 a{ width:15%;float:right; margin-right:10px; height:1.5em;line-height:1.5em;background:url(/web/web_images/guzhu_ck.png) no-repeat left; padding-left:8%; background-size:contain;font-size:1.3em; color:#333;}

/*peixun*/

.px_top{ width:94%; padding:0 3%; background:#26a035; height:50px; border-bottom:#bbb 1px solid; overflow:hidden;}
.px_top p{ line-height:50px; font-size:18px;font-family:"微软雅黑"; color:#fff; font-weight:bold;}
.sear01{ width:12%; margin-top:7px;}
.sear01 img{ width:37px; height:36px;}

.px_con_box{ background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; }
.px_li{background:#fff; overflow:hidden; width:96%; padding:5px 2%; border-top:#c9c9c9 2px solid; border-bottom:#f3f3f3 2px solid; overflow:hidden;}
.px_li li{ float:left; width:32%; margin-right:2%; margin-bottom:10px;}
.px_li li img{ width:100%;}


.px_con{ background:#fff;overflow:hidden; font-family:"微软雅黑";}
.px_con ul{ width:96%; padding:0 2%;}
.px_con li{ line-height:1.8em; border-bottom:#f3f3f3 1px solid; padding-top:1.5em; padding-bottom:1.5em; overflow:hidden;}

.px_pic{ width:31%;} 
.px_pic img{ width:100%;}
.px_pic embed{ width:100%;}

.px_text{ width:64%; margin-left:5%;}
.px_text h2{ color:#26A035;}
.px_text span{ color:#666;}
.px_text p{ color:#666; text-align:right;}

/*detail*/
.detail_top{ width:94%; padding:0 3%; background:#26a035; height:50px; border-bottom:#bbb 1px solid; overflow:hidden;}
.detail_top p{ line-height:50px; font-size:18px;font-family:"微软雅黑"; color:#fff; font-weight:bold;}


.detail_box{ background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; }
.detail{ width:96%; padding:0 2%;background:#fff; font-family:"微软雅黑"; padding-bottom:70px; padding-top:8px;}

.de_id{ overflow:hidden;}
.id_img_box{ width:37%; background:#fffbf0; border:#f3f3f3 1px solid;}
.id_img{ padding:5px;}
.id_img img{width:100%; height:auto;}

.id_ab{ width:58%;}

.id01{ height:25px; overflow:hidden; line-height:25px;}
.id01 p{ float:left; color:#26A035; margin-right:5%; font-size:14px;}
.id01 img{ height:25px;}

.id02{ overflow:hidden; line-height:2em; color:#ff6600; font-size:1.3em;}
.id02 p{ float:left; color:#26A035; margin-right:5%; }


.id03{ overflow:hidden; line-height:2em;}
.id03 li{ float:left; margin-right:5%;font-size:1.3em;}

.id04{ color:#ff6600;  line-height:2em;font-size:1.3em; font-weight:bold;}

.id05{ overflow:hidden;}
.id05_left{ width:60%; font-size:12px;}
.id05_coll{ padding-left:15%; height:16px; background:url(/web/web_images/aytj_collect.png) no-repeat left; background-size:contain; line-height:12px;font-size:12px; margin-bottom:4px;}
.id05_fx{  overflow:hidden; line-height:12px;padding-left:15%; height:16px; background:url(/web/web_images/detail_fxde.png) no-repeat left;background-size:contain;font-size:12px;}
.id05_fx p{ float:left;}
.id05_fx img{ float:left; height:12px;}

.id05_right{ width:38%; font-size:1.3em; text-align:center; height:28px; line-height:28px; background:#26A035; border-radius:2px;}
.id05_right a{ color:#fff;}



.de_dangan{ padding-top:10px;}
.de_dangan p{ line-height:1.5em; font-size:1.3em; padding-bottom:5px; border-bottom:#f3f3f3 1px solid;}
.de_dangan h2{ text-align:right;line-height:2em; font-size:1.3em;}
.de_dangan h2 a{ color:#ff6600;}

.infor
.infor_tlt{ border-bottom:#26A035 2px solid;}
.infor_tlt h3{ padding-left:10%; font-size:1.3em; line-height:2.5em; color:#26A035;}

.infor_con{ overflow:hidden; font-family:"黑体";}
.incon_left{ width:38%;}
.incon_left li{ overflow:hidden; color:#84713d; line-height:2em; font-size:1.3em;}
.incon_left li span{ float:left; margin-right:5%; color:#26A035;}


.incon_right{ width:62%;}
.incon_right li{ overflow:hidden; color:#84713d; line-height:2em; font-size:1.3em;}
.incon_right li span{ float:left; margin-right:5%; color:#26A035;}

.skill
.skill_tlt{ border-bottom:#26A035 2px solid; margin-bottom:5px;}
.skill_tlt h3{ padding-left:10%; font-size:1.3em; line-height:2.5em; color:#26A035;}

.skill_con{ overflow:hidden; font-family:"微软雅黑";}
.skill01{ overflow:hidden;color:#84713d; line-height:1.6em; font-size:1.2em;}
.skill01 p{ width:24%;}
.skill01 span{ width:76%;}

.skill02{ overflow:hidden;color:#84713d; line-height:1.6em; font-size:1.2em;}
.skill02 p{ width:24%;}
.skill02 span{ width:76%;}

.skill03{ overflow:hidden;color:#84713d; line-height:1.6em; font-size:1.2em;}
.skill03 p{ width:24%;}
.skill03 span{ width:76%;}

.skill04{ overflow:hidden;color:#84713d; line-height:1.6em; font-size:1.2em;}
.skill04 p{ width:24%;}
.skill04 span{ width:76%;}

.exp
.exp_tlt{ border-bottom:#26A035 2px solid;margin-bottom:5px;}
.exp_tlt h3{ padding-left:10%; font-size:1.3em; line-height:2.5em; color:#26A035;}
.exp p{color:#84713d; line-height:1.6em; font-size:1.2em;}



/*store*/
.store_top{ width:100%;background:#26a035; height:50px; border-bottom:#bbb 1px solid; }
.store_top p{ text-align:center; line-height:50px; font-size:22px; color:#fff;font-family:"微软雅黑"; font-weight:bold;}

.store_list{background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; font-family:"微软雅黑";}
.store_li{ background:#fff;border-top:#c9c9c9 2px solid; min-height:500px;}
.store_li li{ height:60px; overflow:hidden; padding:0 2%; border-bottom:#c9c9c9 1px solid;}
.store_li li h3{ width:25%; float:left; line-height:60px;  font-weight:normal;}
.store_li li h3 a{color:#26a035;text-decoration:underline; font-size:1.3em;}

.store_li li span{ width:52%; float:left; line-height:60px; color:#666;font-size:1.3em;}
.store_li li p{ width:18%; float:left;text-align:center;color:#999; background:#d9d9d9; border-radius:15px; line-height:24px; margin-top:18px;}
.store_li li p a{color:#999;font-size:16px;}

/*require*/
.require_top{ width:100%;background:#26a035; height:50px; border-bottom:#bbb 1px solid; }
.require_top p{ text-align:center; line-height:50px; font-size:22px; color:#fff;font-family:"微软雅黑"; font-weight:bold;}

.require_box{background:#f3f3f3;padding-top:7px;font-family:"微软雅黑";}
.require{ background:#fff;padding:0 5%; border-top:#c9c9c9 2px solid;min-height:500px;}

.req01{ height:37px; overflow:hidden; margin-top:15px;}
.req01 p{ width:23%; float:left; line-height:37px;font-size:14px;}
.req_se01{ width:28%; padding-left:3%; float:left; height:35px; line-height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; background:url(/web/web_images/register_jl_arrow.png) no-repeat right; background-size:contain;}
.req_se01 select{width:120%;font-family:"微软雅黑"; font-size:14px;margin:0px;
	padding:0px;
	border:none;
    background:none;outline:none;}

.req02{overflow:hidden; margin-top:15px;}
.req02 p{ width:23%; float:left; line-height:37px;font-size:14px;}
.req_ta{ width:73%; padding-left:3%; height:70px;border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.req_ta textarea{ border:none; resize:none; width:100%; height:70px; outline:none; color:#999; line-height:24px;font-family:"微软雅黑";}

.req03{ height:37px; overflow:hidden; margin-top:15px;}
.req03 p{ width:32%; float:left; line-height:37px;font-size:14px;}

.req_mon{ width:68%; overflow:hidden;}
.req_mon01{ width:45%; height:35px;line-height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.req_mon01 input{ width:120%; height:35px; outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none; font-size:14px; color:#333;}

.req_mon02{ width:6%; line-height:37px; color:#26A035; font-size:14px; text-align:center;}

.req_mon03{ width:45%; height:35px;line-height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.req_mon03 input{ width:120%; height:35px; outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none; font-size:14px; color:#333;}

.req04{ height:37px; overflow:hidden; margin-top:15px;}
.req04 p{ width:32%; float:left; line-height:37px;font-size:14px;}

.req_se02{ width:43%; padding-left:3%; float:left; height:35px; line-height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; background:url(/web/web_images/register_jl_arrow.png) no-repeat right; background-size:contain;}
.req_se02 select{width:120%;font-family:"微软雅黑"; font-size:14px;margin:0px;
	padding:0px;
	border:none;
    background:none;outline:none; color:#333;}


.req05{ height:36px; line-height:36px; font-size:16px; background:#26A035; border-radius:18px;text-align:center; margin-top:30px;}
.req05 a{ color:#fff;}


/*login*/
.login_top{ width:100%;background:#26a035; height:50px; border-bottom:#bbb 1px solid; }
.login_top p{ text-align:center; line-height:50px; font-size:22px; color:#fff;font-family:"微软雅黑"; font-weight:bold;}

.login_box{background:#f3f3f3;padding-top:7px;font-family:"微软雅黑";}
.login{ background:#fff;padding:0 5%; min-height:500px; padding-top:70px;}

.login01{ overflow:hidden;}
.login01 p{ float:left; width:26%; line-height:37px; font-size:14px;}
.log_in01{ width:70%; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.login01 .log_in01 input{ width:100%;  outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none;font-size:14px;}


.login02{ overflow:hidden; margin-top:15px;}
.login02 p{ float:left; width:26%;line-height:37px; font-size:14px;}
.log_in02{ width:70%; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.login02 .log_in02 input{ width:100%;  outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none; font-size:14px;}

.login03{ overflow:hidden; margin-top:15px;}
.login03 p{ float:left; width:26%;line-height:37px; font-size:14px;}
.log_in03{ width:28%; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.login03 .log_in03 input{ width:100%;  outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none;}


.login03 .log_in03_img{ width:40%; float:left; height:37px; margin-left:2%;}
.log_in03_img img{height:37px; width:100%;}

.login04{  margin-top:20px;text-align:center; font-size:14px; color:#999;}
.login04 input{ vertical-align:middle;}
.login04 a{ color:#26A035; text-decoration:underline;}

.login05{ height:36px; line-height:36px; font-size:16px; background:#26A035; border-radius:18px;text-align:center; margin-top:20px;}
.login05 a{ color:#fff;}

.login06{ overflow:hidden; margin-top:20px;}
.login06 p{ float:left; padding-left:38px; height:30px; line-height:30px; background:url(/web/web_images/login_qq.png) no-repeat left center; background-size:contain; font-size:16px;}
.login06 p a{ color:#666;}
.login06 a{ font-size:16px; float:right; color:#666;}


.login07{ line-height:24px; margin-top:30px;font-size:16px;text-align:center; color:#666;}
.login07 a{ color:#26A035; text-decoration:underline;}

/*register*/
.register_top{ width:100%;background:#26a035; height:50px; border-bottom:#bbb 1px solid; }
.register_top p{ text-align:center; line-height:50px; font-size:22px; color:#fff;font-family:"微软雅黑"; font-weight:bold;}


.register_box{background:#f3f3f3;padding-top:7px;font-family:"微软雅黑";}
.register{ background:#fff;padding:0 5%; min-height:600px; padding-top:15px;}

.register01{ overflow:hidden;}
.register01 p{ float:left; width:26%; line-height:37px; font-size:14px;}
.register_in01{  width:44%; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.register01 .register_in01 input{ width:100%;  outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none;font-size:14px;}
.register01 a{ line-height:27px; float:right; width:25%; background:#26A035; font-size:14px; color:#fff; text-align:center; margin-top:5px;}


.register02{ overflow:hidden; margin-top:15px;}
.register02 p{ float:left; width:26%;line-height:37px; font-size:14px;}
.register_in02{ width:70%; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.register02 .register_in02 input{ width:100%;  outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none; font-size:14px;}


.register03{ overflow:hidden; margin-top:15px;}
.register03 p{ float:left; width:26%;line-height:37px; font-size:14px;}
.register_in03{ width:70%; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.register03 .register_in03 input{ width:100%;  outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none; font-size:14px;}

.register04{overflow:hidden; margin-top:15px;}
.register04 p{ float:left; width:26%;line-height:37px; font-size:14px;}
.register_se{ overflow:hidden;}
.register_se li{ width:40%; float:left;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; background:url(/web/web_images/register_jl_arrow.png) no-repeat right; background-size:contain; line-height:35px;}
.register_se li select{width:120%;font-family:"微软雅黑"; font-size:14px;margin:0px;
	padding:0px;
	border:none;
    background:none;outline:none; color:#666;}


/*personal_center*/
.pece_box{padding-top:7px;font-family:"微软雅黑";}

.pece01{background:#fff;padding:0 3%; line-height:40px;}
.pece01 p{ border-bottom:#26A035 1px solid; color:#26A035; font-size:16px;}

.pece{ background:#fff;padding:0 5%; min-height:300px; padding-top:15px;}

.pece02{ overflow:hidden; margin-top:15px;}
.pece02 p{ float:left; width:26%;line-height:37px; font-size:14px;}
.pece_in02{ width:70%; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.pece02 .pece_in02 input{ width:100%;  outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none; font-size:14px;}

.pece03{overflow:hidden; margin-top:15px;}
.pece03 p{ float:left; width:26%;line-height:37px; font-size:14px;}
.pece_se01{width:24%; padding-left:3%;float:left;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;  background-size:contain; line-height:35px;}
.pece_se01 select{width:120%;font-family:"微软雅黑"; font-size:14px;margin:0px;
	padding:0px;
	border:none;
    background:none;outline:none; color:#666;}


.pece04{overflow:hidden; margin-top:15px;}
.pece04 p{ float:left; width:26%;line-height:37px; font-size:14px;}
.pece_se02{ overflow:hidden;}
.pece_se02 .curA{ float:left; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; background:url(/web/web_images/register_jl_arrow.png) no-repeat right; background-size:contain; line-height:35px;}
.pece_se02 .curB{ float:left; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; line-height:35px;}

.pece_se02 li select{width:120%;font-family:"微软雅黑"; font-size:14px;margin:0px;
	padding:0px;
	border:none;
    background:none;outline:none; color:#666;}
.pece_se02 li input{ width:100%;  outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none; font-size:14px;}

/*my_order*/
.myorder_top{ width:100%;background:#26a035; height:50px; border-bottom:#bbb 1px solid; }
.myorder_top p{ text-align:center; line-height:50px; font-size:22px; color:#fff;font-family:"微软雅黑"; font-weight:bold;}

.myorder_list{background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; font-family:"微软雅黑";}
.my_order_li{ background:#fff;border-top:#c9c9c9 2px solid; min-height:500px;}
.my_order_li dl{ overflow:hidden; height:36px; border-bottom:#ccc 1px dashed;}
.my_order_li dl dd{ float:left; line-height:36px; color:#26A035; text-align:center;font-size:14px;}

.m_li{ border-bottom:#ccc 1px dashed;}
.mli_t ul{ overflow:hidden; height:36px; }
.mli_t ul li{ float:left; line-height:36px; color:#666; text-align:center;font-size:14px;}

.mli_b{overflow:hidden; height:36px;}
.mli_b p{ width:18%; float:left;}
.mli_b p a{ display:block; width:100%; line-height:24px; background:#d9d9d9; border-radius:12px; color:#666; text-align:center;font-size:14px; margin-top:6px;}
.mli_b span{ width:30%; float:right;}
.mli_b span a{ display:block; width:100%; line-height:24px; background:#26A035; border-radius:12px; color:#fff; text-align:center;font-size:14px;margin-top:6px;}


/*my_order_detail*/
.order_detail{background:#f3f3f3;  padding-top:7px; font-family:"微软雅黑";}
.order_box{ background:#fff;border-top:#c9c9c9 2px solid; min-height:500px;width:94%; padding:0 3%;}
.orde_dl{ margin-top:7px;}
.orde_dl01{ overflow:hidden; }
.orde_dl01 dd{width:33%;  float:left; background:#fff; }
.orde_dl01 dd span{ display:block; margin-right:1%; width:99%; margin-bottom:1%;text-align:center;line-height:30px; color:#26A035; font-size:14px; background:#f1f1f1;}

.orde_dl02{ overflow:hidden; }
.orde_dl02 dd{width:33%;  float:left; background:#fff; }
.orde_dl02 dd span{ display:block; margin-right:1%; width:99%; margin-bottom:1%;text-align:center;line-height:30px; color:#666; font-size:14px; background:#f1f1f1;}

.orde_ul{ margin-top:20px; padding:0 2%; overflow:hidden;}
.orde_ul01{ width:29%;}
.orde_ul01 li{ line-height:30px; font-size:14px; color:#666;}

.orde_ul02{ width:71%;}
.orde_ul02 li{line-height:30px; font-size:14px; color:#666;}
.orde_ul02 li a{ color:#002be6;}

/*reserve*/
.reserve_box{background:#f3f3f3; padding:0 3%; padding-top:7px; font-family:"微软雅黑"; }
.reserve{ background:#fff;border-top:#c9c9c9 2px solid; min-height:700px;width:94%; padding:0 3%;}

.res01{ overflow:hidden; margin-top:15px;}
.res01 p{ width:27.5%; float:left;line-height:37px; font-size:14px;}
.res_se01{ width:28%; float:left; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; background:url(/web/web_images/register_jl_arrow.png) no-repeat right; background-size:contain; line-height:35px;}
.res_se01 select{width:120%;font-family:"微软雅黑"; font-size:14px;margin:0px;
	padding:0px;
	border:none;
    background:none;outline:none; color:#666;}

.res02{ overflow:hidden; margin-top:15px;}
.res02 p{ width:27.5%; float:left;line-height:37px; font-size:14px;}
.res_se02{ width:62%; float:left; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; background:url(/web/web_images/register_jl_arrow.png) no-repeat right; background-size:contain; line-height:35px;}
.res_se02 select{width:120%;font-family:"微软雅黑"; font-size:14px;margin:0px;
	padding:0px;
	border:none;
    background:none;outline:none; color:#666;}

.res03{ overflow:hidden; margin-top:15px;}
.res03 p{ width:27.5%; float:left;line-height:37px; font-size:14px;}
.res_in01{width:62%; float:left; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; background:url(/web/web_images/reserve_month.png) no-repeat right; background-size:contain; line-height:35px}
.res_in01 input{ width:120%; border:none; height:35px; background:none; outline:none;}


.res04{ overflow:hidden; margin-top:15px;}
.res04 p{ width:27.5%; float:left;line-height:37px; font-size:14px;}
.res_se03{ width:65%; overflow:hidden;}
.res_se03 li{ width:45%; float:left;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; background:url(/web/web_images/register_jl_arrow.png) no-repeat right; background-size:contain; line-height:35px;}
.res_se03 li select{width:120%;font-family:"微软雅黑"; font-size:14px;margin:0px;
	padding:0px;
	border:none;
    background:none;outline:none; color:#666;
	
color:#999;}

.res05{overflow:hidden; margin-top:15px;}
.res05 p{ width:27.5%; float:left;line-height:37px; font-size:14px;}
.res_in02{width:62%; float:left; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; line-height:35px}
.res_in02 input{ width:100%; border:none; height:35px; background:none; outline:none;font-family:"微软雅黑"; font-size:14px; color:#999; line-height:35px;}
.res_star{ width:6%; float:left;}
.res_star img{ margin:0 auto; }

/*reserve_person*/
.res_pho{ overflow:hidden; margin-top:15px;}
.res_img{ width:27.5%; height:90px;}
.res_img img{ margin:0 auto; height:90px;}

.res_name{ width:70%; margin-left:2.5%; position:relative; height:90px;}
.res_name p{ position:absolute; bottom:0; left:0; line-height:24px; color:#26A035; font-size:16px;}

/*set*/
.set_box{background:#f3f3f3; padding:0 3%; padding-top:7px; font-family:"微软雅黑"; }
.set{ background:#fff;border-top:#c9c9c9 2px solid; min-height:500px;width:94%; padding:0 3%;}

.set_img{ height:100px; overflow:hidden; margin-top:10px;}
.set_pho{ width:100px; height:100px; overflow:hidden; border-radius:50px;}
.set_pho img{ width:100%; height:100%;}

.set_ph{ width:100px; height:100px; overflow:hidden; margin-left:15px;}
.set_ph img{ width:100%; height:100%;}
 
.set01{ overflow:hidden; margin-top:15px;}
.set01 p{ float:left; width:26%;line-height:37px; font-size:14px;}
.set_in1{ width:70%; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.set_in1 input{ width:100%;  outline:none;font-family:"微软雅黑";color:#999; border:none; height:35px; background:none; font-size:14px;}

/*activity_area*/
.ac_box{ background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; }
.ac_li{background:#fff; overflow:hidden; width:96%; padding:10px 2%; border-top:#c9c9c9 2px solid; border-bottom:#ccc 1px dashed; overflow:hidden;}
.ac_li li{ float:left; width:30%; margin-right:3%; margin-top:1%;}
.ac_li li a{ display:block; width:100%; line-height:26px; height:26px; background:#26A035; text-align:center; color:#fff; font-size:14px;font-family:"微软雅黑"; border-radius:13px; border:#26A035 1px solid;}
.ac_li li a:hover{ background:#fff; color:#26A035;}

.ac_con{ background:#fff;overflow:hidden; font-family:"微软雅黑"; padding-bottom:70px;}
.ac_con ul{ width:96%; padding:0 2%;}
.ac_con li{ line-height:1.8em; border-bottom:#ccc 1px dashed; padding-top:1.5em; padding-bottom:1.5em; overflow:hidden;}

.ac_pic{ width:25%;} 
.ac_pic img{ width:100%;}

.ac_text{ width:70%; margin-left:5%;}
.ac_text p{ color:#26A035; font-size:1.3em;}
.ac_text span{ color:#666;}

/*integrity_search*/
.integ_box{background:#f3f3f3; padding:0 3%;padding-top:7px;font-family:"微软雅黑";}
.integ{ background:#fff;padding:0 9%; min-height:600px; padding-top:80px;border-top:#c9c9c9 2px solid;}

.integ01 p{ text-align:center; font-size:14px; color:#26A035;}

.integ02{ overflow:hidden; height:34px; border:#26A035 1px solid; border-radius:17px; margin-top:15px; margin-bottom:30px;}
.integ02 input{ width:75%; padding-left:5%; border:none; height:34px; background:none; outline:none;font-family:"微软雅黑"; font-size:14px; color:#999; line-height:34px;}
.integ_img{ width:18%; height:34px;}
.integ_img img{ height:34px; float:right;}


.integ03{ overflow:hidden;}
.integ_img1{ height:36px; margin-right:2%;}
.integ_img1 img{ height:36px;}
.integ_fr{ color:#26A035;}
.integ_fr p{ line-height:20px; font-size:14px;}
.integ_fr span{ line-height:16px; font-size:10px;}


.integ04{ height:36px; line-height:36px; font-size:16px; background:#26A035; border-radius:18px;text-align:center; margin-top:15px;}
.integ04 a{ color:#fff;}


/*guzhu_detail_tou*/
.sqgz{ overflow:hidden;margin-top:15px;}
.sqgz p{ width:27.5%; float:left;line-height:37px; font-size:14px;}
.spgz_se{ width:19.5%; float:left; padding-left:3%;height:35px; border:#26A035 1px solid; border-radius:3px; overflow:hidden; background:#f2ffd4;line-height:35px;}
.spgz_se select{width:120%;font-family:"微软雅黑"; font-size:14px;margin:0px;
	padding:0px;
	border:none;
    background:none;outline:none; color:#666;}


.specialty{ overflow:hidden; margin-top:15px;}
.specialty p{ width:27.5%; float:left; line-height:37px;font-size:14px;}
.spe_ta{ width:62%; padding-left:3%; height:70px;border:#26A035 1px solid; border-radius:3px; overflow:hidden;}
.spe_ta textarea{ border:none; resize:none; width:100%; height:70px; outline:none; color:#999; line-height:24px;font-family:"微软雅黑";}

/*guzhu_detail*/

.gzdt_con_box{ background:#f3f3f3; width:94%; padding:0 3%; padding-top:7px; }
.gzdt_con{ width:96%; padding:0 2%;background:#fff; font-family:"微软雅黑";  border-top:#c9c9c9 2px solid; overflow:hidden;}
.gzdt_con p{ line-height:3em; color:#26A035; font-size:1.5em;}
.gzdt_con span{ line-height:1.5em; font-size:1.3em;}

.gzdt_jl{ height:36px; line-height:36px; font-size:16px; background:#26A035; border-radius:18px;text-align:center; margin-top:15px; margin-bottom:15px;}
.gzdt_jl a{ color:#fff;}

.blank{ background:#f3f3f3; height:70px;}


/*integrity_record*/

.record_box{/*background:#f3f3f3;*/ padding:0 3%;padding-top:7px;font-family:"微软雅黑";}
.record{ background:#fff;padding:0 3%; min-height:600px; border-top:#c9c9c9 2px solid;}


.record_pho{ overflow:hidden; margin-top:8px;}
.record_pic{ width:37%; background:#fffbf0; border:#f3f3f3 1px solid;}
.record_p{ padding:5px;}
.record_p img{width:100%; height:auto;}

.rz{ width:58%; margin-left:3%;}
.rz img{ height:152px;}


.rec_info{ margin-top:20px; padding-top:10px;border-top:#26A035 3px solid;}
.info01{ overflow:hidden; }
.info01_l{ width:38%;}
.info01_l li{ overflow:hidden; color:#84713d; line-height:2em; font-size:1.3em;}
.info01_l li span{ float:left; margin-right:5%; color:#26A035;}


.info01_r{ width:62%;}
.info01_r li{ overflow:hidden; color:#84713d; line-height:2em; font-size:1.3em;}
.info01_r li span{ float:left; margin-right:5%; color:#26A035;}


.info02{color:#84713d; line-height:2em; font-size:1.3em; overflow:hidden;}
.info02 span{ float:left; margin-right:5%; color:#26A035;}

.info03{color:#84713d; line-height:2em; font-size:1.3em; overflow:hidden;}
.info03 span{ float:left; margin-right:5%; color:#26A035;}

.rec_tlt{ margin-top:20px;overflow:hidden; }
.rec_tlt li{ width:30%; float:left; text-align:center; font-size:14px;line-height:26px; color:#26A035;border-top:#fff 2px solid; border-left:#fff 2px solid; border-right:#fff 2px solid; border-bottom:#26A035 2px solid; border-top-left-radius:5px; border-top-right-radius:5px;}
.rec_tlt li:hover{ border:#26A035 2px solid; border-bottom:#fff 2px solid;}

#blank{ width:37%;float:left;border-bottom:#26A035 2px solid;line-height:28px; }

.file01{ overflow:hidden; border:#26A05C 1px solid; border-radius:3px; margin-top:15px; }
.f1_l{ width:20%; margin:3px;border:#26A05C 1px solid; border-radius:3px; overflow:hidden; background:#fcf6ea;}
.f1_l img{ margin:0 auto; height:90px;}

.f1_r{ width:75%; margin:3px;border:#26A05C 1px solid; border-radius:3px; overflow:hidden; background:#fff; height:auto; margin-left:0px;}
.f1_r img{ margin:auto;width:100%;}


.file02{ overflow:hidden; border:#26A05C 1px solid; border-radius:3px; margin-top:15px;}
.f2_l{ width:20%; margin:3px;border:#26A05C 1px solid; border-radius:3px; overflow:hidden; background:#fcf6ea;}
.f2_l img{ margin:0 auto; height:90px;}

.f2_r{ width:75%; margin:3px;border:#26A05C 1px solid; border-radius:3px; overflow:hidden; background:#fff; height:auto; margin-left:0px;}
.f2_r img{ margin:auto;width:100%;}


.file03{ overflow:hidden; border:#26A05C 1px solid; border-radius:3px; margin-top:15px;}
.f3_l{ width:20%; margin:3px;border:#26A05C 1px solid; border-radius:3px; overflow:hidden; background:#fcf6ea;}
.f3_l img{ margin:0 auto; height:90px;}

.f3_r{ width:75%; margin:3px;border:#26A05C 1px solid; border-radius:3px; overflow:hidden; background:#fff; margin-left:0px;}
.f3_r img{ margin:auto;width:100%;}


.file04{ overflow:hidden; border:#26A05C 1px solid; border-radius:3px; margin-top:15px;}
.f4_l{ width:20%; margin:3px;border:#26A05C 1px solid; border-radius:3px; overflow:hidden; background:#fcf6ea;}
.f4_l img{ margin:0 auto; height:90px;}

.f4_r{ width:75%; margin:3px;border:#26A05C 1px solid; border-radius:3px; overflow:hidden; background:#fff; height:90px; margin-left:0px;}
.f4_r img{ margin:auto;width:100%; height:auto;}

.ac_li .n_list{background: #fff;color: #26A035;}
.px_con img{ width:100%; height:auto;}
.btn{ border:none; font-family:"微软雅黑";
color:#FFF;
font-size: 16px;
background: #26A035;

text-align: center;
cursor: pointer;

height: 36px;
line-height: 36px;
border-radius: 18px;
margin-top: 20px;
margin: 20px auto;
width: 100%;
}




















